.vscode/launch.json
.vscode/tasks.json
obj/officebleams.csproj.nuget.cache
obj/officebleams.csproj.nuget.dgspec.json
obj/officebleams.csproj.nuget.g.props
obj/officebleams.csproj.nuget.g.targets
obj/Debug/netcoreapp3.0/officebleams.csprojAssemblyReference.cache
obj/project.assets.json
obj/Debug/netcoreapp3.0/officebleams.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/officebleams.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/officebleams.assets.cache
obj/Debug/netcoreapp3.0/officebleams.csproj.CoreCompileInputs.cache
officebleams.csproj
bin/Debug/netcoreapp3.0/officebleams.deps.json
bin/Debug/netcoreapp3.0/officebleams.dll
bin/Debug/netcoreapp3.0/officebleams.exe
bin/Debug/netcoreapp3.0/officebleams.pdb
bin/Debug/netcoreapp3.0/officebleams.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/officebleams.runtimeconfig.json
obj/Debug/netcoreapp3.0/officebleams.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/officebleams.dll
obj/Debug/netcoreapp3.0/officebleams.exe
obj/Debug/netcoreapp3.0/officebleams.pdb
